*{margin:0;
  padding: 0;}
  html
  {scroll-behavior: smooth;}
.App{
  position: relative;
  margin: 0;
}
.slash{
  display: none;
}
.about{
  padding: 0 1.25em 1.625em 1.25em;
  background-image: linear-gradient(white 50%,#e6dace 50%);
}
.intro{
  padding: 0 1.25em 2.25em 1.25em;
  background-color: #e6dace;
}
.contact{
  padding:1.6875em 1.25em 1em 1.25em;
  background-color: white;
}
.nav_brand{
  display: flex;
  flex-direction: column;
}
.name{
  font-family: 'Poppins',sans-serif;
  font-size:1.25rem;
  font-weight:600;
  min-width: 196.8px;
}
button,.job{
  font-family:'Nunito',sans-serif;
  font-size: 0.9375rem;
  font-weight:600;
  letter-spacing: 0.02em;
}
.blue_dot{
  display: inline-block;
  background-color:#0050ff ;
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  box-shadow: -0.5em 0.5em 1em rgba(138,131,124,023);
}
.about .card>img{
  margin-right: 4.625em;
  margin-left: 4.625em;
  width: 7.5em;
  height: 7.5em;
}
.profile_name{
  max-width: 6.25em;
  text-align: center;
  margin-top: 0.625em;
}
hr{
  color:#529CF2;
  width: 7.875em;
  margin-top: 1.125em;
}
.btn{
  display: flex;
  gap:0.6875rem;
}
button{
  width:7.67em;
  height:2.2em;
  border-radius: 4.2em;
  margin-top:1.33em;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
.resume_btn{
  background-color: #0050ff;
  border-style: none;
  color: white;
  border: 1px solid #0050ff;
}
.projects_btn{
  background-color: #F4ECE6;
  border:1px solid black;
}
.social{
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 1.25em;
  padding-block: 0.625em;
}
.fa-brands{
color: black;
}
.greetings{
  font-family: 'Poppins',sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  padding-top: 12px;
}
.contacts{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.starting_intro{
  margin-top: 0.79em;
  font-family:'Nunito',sans-serif;
  font-weight: bold;
  font-size: 1.1875rem;
}
.about_myself,.more_about_myself{
  margin-top: 27px;
  font-family: 'Nunito',sans-serif;
  line-height: 1.5em;
}
.get_in_touch{
  display: grid;
  grid-template-columns:1fr 1fr;
  gap:0.3125rem;
}
.connect{
  font-family: 'Nunito',sans-serif;
  font-size: 0.9375rem;
  font-weight:bold;
}
.phone_num,.email{
  font-family: 'Nunito',sans-serif;
  font-size:0.875rem;
}
.follow{
  margin-top: 1.6em;
}
.social_platforms{
  display: flex;
  justify-content:flex-start;
  gap:0.625em;
  margin-top: 0.75em;
}
footer{
  font-family: 'Nunito',sans-serif;
  font-size: 0.875rem;
  margin-top: 1.786em;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90.8px;
  padding-left: 1.25em;
  padding-right: 1.25em;
}
.nav_dropdown{
  z-index:2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 1.25em;
}
.line1,.line2,.line3{
  background-color:#0050ff;
  height: 4px;
  margin-top: 4px;
}
.line1{
  width: 15px;
  margin-top: 0;
  margin-right: auto;
}
.line2{
  width:30px;
}
.line3{
  width: 15px;
  margin-left:auto;
}
.nav-items{
  display: none;
  animation:disappear 0.7s ease-in-out 0s 1;
  animation-fill-mode: forwards;
}
.nav_links{
  position: absolute;
  top:0;
  left:0;
  z-index:1;
  width: 100vw;
  height: 100vh;
  display: block;
  background-color: #f4ece6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform:translateY(-800px);
  gap:36px;
}
.nav-page{
  animation: navbar 0.7s ease-in-out 0s 1;
  animation-fill-mode: forwards;
}
@keyframes navbar {
  0%{
    transform: translateY(-800px);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 100;
  }
}
@keyframes disappear {
  0%{
    transform: translateY(0);
    opacity: 100;
  }
  100%{
    transform: translateY(-800px);
    opacity: 0;
  }
}
.close>.line1, .close>.line3{
  margin-left:0;
  margin-right: 0;
}
.close .line1{
  animation:cross1 0.7s ease-in-out 1;
  animation-fill-mode: forwards;
}
@keyframes cross1{
  100%{
    transform: rotate(-270deg) ;
    background-color:#050505;
  }
}

.close{
  animation:cross2 0.7s ease-in-out 1;
  animation-fill-mode: forwards;
}
@keyframes cross2{
  100%{
    transform: rotate(-45deg) ;
  }
}
.close .line2{
  animation:changeColor 0.7s ease-in-out 1;
  animation-fill-mode: forwards;
}
@keyframes changeColor {
  100%{
    background-color: #050505;
  }
}
.close .line3{
  animation:cross3 0.7s ease-in-out 1;
  animation-fill-mode: forwards;
}
@keyframes cross3{
  100%{
    transform: rotate(-90deg) ;
    background-color: #050505;
  }
}
.stop_overflow{
  height: 100vh;
  overflow-y: hidden;}

.open .line1{
  animation:reset1 0.7s ease-in-out 1;
  animation-fill-mode: forwards;
}
@keyframes reset1 {
  0%{
    transform: rotate(-270deg) ;
    background-color:#050505;
    margin-right: 0;
  }
  100%{
    transform: rotate(0deg);
    margin-right:auto;
  }
}
.open {
  animation:reset2 0.7s ease-in-out 1;
  animation-fill-mode: forwards;
}
@keyframes reset2 {
  0%{
    transform: rotate(-45deg) ;
  }
  100%{
    transform: rotate(0deg);
  }
}
.open .line3{
  animation:reset3 0.7s ease-in-out 1;
  animation-fill-mode: forwards;
}
@keyframes reset3 {
  0%{
    transform: rotate(-90deg) ;
    background-color: #050505;
    margin-left: 0;
  }
  100%{
    transform: rotate(0deg);
    margin-left: auto;
  }
}
.open .line2{
  animation:reset4 0.7s ease-in-out 1;
  animation-fill-mode: forwards;
}
@keyframes reset3 {
  0%{
    transform: rotate(-90deg) ;
    background-color: #050505;
    margin-left: 0;
  }
  100%{
    transform: rotate(0deg);
    margin-left: auto;
  }
}
.nav-item{
  font-size:20px;
  font-family: 'Poppins',sans-serif;
  font-weight: 700;
  text-align: center;
  color: #050505;
  text-decoration-line: none;
}
.selected{
  color:#0050ff;
}
.resume_access{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.intro>h1{
  text-align: center;
}
.date{
  color:#0050ff;
  font-size:15px;
  font-family: 'Poppins',sans-serif;
  font-weight: 700;
}
.edu_section{
  margin-bottom: 54px;
  font-family: 'Nunito',sans-serif;
}
.resume_section{
  padding-bottom: 3.24em;
  font-family: 'Nunito',sans-serif;
}
.exp_section,.edu_section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.job_pos,.institute,.location{
  margin-bottom: 17px;
}
.exp_section,.edu,.resume_access{
  margin-bottom:36px;
}
.cv{
  font-size: 12.4px;
  font-weight: 600;
  width: 125px;
  margin:0;

}
.resume{
  padding-block: 61px 49px;
  font-size: 29px;
  font-family: 'Poppins',sans-serif;
}
.prof_header{
  margin-top: 30px;
  margin-bottom: 30px;
  font-family:'Poppins',sans-serif ;
  font-size: 18px;
}
.lang_header{
  margin-top: 36px;
  margin-bottom: 30px;
  font-family:'Poppins',sans-serif ;
  font-size: 18px;
}
.prof,.lang{
  margin-bottom: 26px;
}
.exp,.edu{
  font-family:'Poppins',sans-serif ;
  font-size: 18px;
}
.blue_bar{
  width:10px;
  height: 23px;
  background-color: #0050ff;
  margin-right: 0.625em;
}
.project_name,.role{
  display: flex;
  align-items:center;
}
.project_name{
  margin-top: 11px;
  font-size: 15px;
  font-family: 'Poppins',sans-serif;
  font-weight: bold;
  color:#0050ff;
}
.role{
  align-items: flex-end;
  margin-bottom: 18px;
  font-size: 12px;
  font-weight: bold;
}
.project_description{
  padding-left: 1.25em;
  line-height: 1.5em;
  margin-bottom: 16px;
}

.projects .card>a>img{
  width: 100%;
  height: 100%;
}
label{
  font-family: 'Nunito',sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
}
.input{
  display: block;
  border-style: none;
  border-bottom: 1px solid;
  font-family: 'Nunito',sans-serif;
  height: 31.2px;
  padding: 15px 3px 3px 15px;
  width: 100%;
  outline: none;
}
.input:hover{
  color:#0050ff
}
.card:hover{
  transform: scale(1.02);
}
.about .card:hover{
  transform: scale(1);
}
.resume_btn:focus,.resume_btn:hover{
  color:#0050ff;
  background-color: white;
}
.projects_btn:hover,.projects_btn:focus{
  color:white;
  background-color: #0050ff;
  border: 1px solid #0050ff;
}

.backToTop{
  position: fixed;
  bottom:1em;
  right:1.25em;
  background-color: #0050ff;
  color: white;
  width: 30px;
  height: 30px;
  border: none;
  opacity: 0;
  z-index:-1
}
.show{
  animation:show 8s ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes show {
  5%{
    opacity: 100%;
    z-index: 1;
  }
  100%{
    opacity: 0%;
    z-index: -1;
  }
}



@media all and (min-width:460px){
  .email>br{
    display: none;
  }
}



@media all and (orientation:landscape) and (min-width:836px){
  .nav_dropdown{
    display: none;
  }
  .nav_brand{
    flex-direction: row;
    align-items: center;
    gap:4px;
    min-width: 416.8px;
  }
  .name{
    font-size: 25px;
  }
  .job{
    font-size: 17px;
    min-width: none;
  }
  .navbar{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    height: 20vh;
    position: sticky;
    top:0;
    z-index: 2;
    background-color:white;

  }
  .nav_links{
    position: static;
    flex-direction: row;
    justify-content: flex-end;
    transform: translateY(0px);
    background-color: transparent;
    width: auto;
    gap:16px;
    height: 100%;
  }
  .nav-item{
    font-size: 14px;
    font-family: 'Nunito',sans-serif;
    font-weight: 600;
  }
  .slash{
    display: inline;
    margin-right: 0.5em; 
  }
  .nav-item:hover{
    border-bottom: 1px solid;
  }
  .fullName{
    display:grid;
    grid-template-columns: 0.5fr 0.5fr;
    gap:50px;
  }
  .get_in_touch{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
    width: 50%;
  }
  .contact{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: 104.8px;
  }
  .follow,footer{
    margin: 0;
  }
  .email>br{
    display: none;
  }
  .phone_num,.email,.social_platforms{
    margin: 0;
  }
}